.bg-img1 {
  object-fit: cover;
  height: 100%;
}

.bg-img2 {
  object-fit: cover;
  height: 100%;
}

.bg-img3 {
  object-fit: cover;
  height: 100%;
}

.bg-item1 {
  height: 480px;
}

.bg-item2 {
  height: 480px;
}

.bg-item3 {
  height: 480px;
}
